@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@300;400;500;600;700&display=swap");

:root {
  --fontFamily: "Noto Sans Lao", sans-serif;
  --themeDark: linear-gradient(
    rgba(15, 10, 10, 0.87),
    rgba(0, 0, 0, 0.781),
    rgba(0, 0, 0, 0.753)
  );
  --darkRed: #270000;
  --whiteColor: #ffffffe1;
  --lightBlack: #11a0b36e;
  --boxBGColor: #0016167c;
  --mobileFontSize: 0.85rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-image: var(--themeDark);
  height: 100vh;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--fontFamily);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--whiteColor);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  text-align: center;
  padding: 1rem;
}

.header__heading {
  font-size: 1.65rem;
  letter-spacing: 1.5px;
}

.inputbox {
  padding: 1rem 3rem;
}

.inputbox__label {
  display: block;
  color: var(--whiteColor);
  font-size: 1.15rem;
  margin-left: 0.2rem;
  margin-bottom: 0.15rem;
}

.input__field {
  display: flex;
}

.inputbox__number {
  padding: 0.35rem 0.5rem;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
  outline: none;
  border: 1px solid var(--lightBlack);
  font-size: 1rem;
  color: var(--whiteColor);
  background-color: rgb(51, 51, 51);
  font-family: var(--fontFamily);
}

.inputbox__btn {
  font-family: var(--fontFamily);
  font-size: 1rem;
  padding: 0.35rem 0.5rem;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  border: 1px solid var(--lightBlack);
  background-color: #ffffff96;
  color: var(--darkRed);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.inputbox__btn:hover {
  background-color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  --moz-appearance: textfield;
}

::placeholder {
  color: rgba(128, 128, 128, 0.63);
}

.gridbox {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.box {
  width: 100%;
  border: 1px solid var(--lightBlack);
  border-radius: 0.35rem;
  box-shadow: 4px 8px 8px 1px rgba(0, 211, 183, 0.034);
}

.box__heading {
  width: 100%;
  padding: 0.7rem 0;
  background-color: var(--boxBGColor);
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  color: var(--whiteColor);
}

.grades__are {
  grid-area: 1 / span 3;
}

.box__content {
  padding: 0.85rem 0.25rem;
  font-size: 1.25rem;
  display: grid;
  place-content: center;
  border-bottom-right-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
  color: var(--whiteColor);
}

.footer {
  margin-top: 1rem;
  padding: 1rem 3rem;
  background-color: rgba(22, 22, 37, 0.137);
  font-size: calc(var(--mobileFontSize) - 0.15rem);
  color: rgba(255, 255, 255, 0.308);
  text-align: center;
  word-spacing: 2px;
  display: absolute;
  bottom: 0;
}

.footer strong,
.footer a {
  color: rgb(255, 255, 255);
}

.footer a {
  text-decoration: underline;
}

@media (max-width: 750px) {
  body {
    height: 100%;
  }

  .gridbox {
    padding: 1rem 3rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .grades__are {
    grid-area: 1 / span 2;
  }

  .box__content {
    font-size: var(--mobileFontSize);
  }
}

@media (max-width: 550px) {
  .box__heading {
    font-size: var(--mobileFontSize);
  }
}

@media (max-width: 450px) {
  .inputbox__label,
  .inputbox__number,
  .inputbox__btn {
    font-size: var(--mobileFontSize);
  }

  .inputbox {
    padding: 1rem;
  }

  .gridbox {
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    padding: 1rem;
  }
}

@media (max-width: 350px) {
  .gridbox {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .grades__are {
    grid-area: 1 / span 1;
  }

  .inputbox__number {
    width: 100%;
  }

  .inputbox__btn {
    padding: 0 1.25rem;
  }
}

::selection {
  background-color: #808080;
}
